AUTH_SECRET=replace-with-a-random-secret
DATABASE_URL=file:./dev.db
DATABASE_AUTH_TOKEN=
GEMINI_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXT_PUBLIC_GOOGLE_AUTH_ENABLED=0
GITHUB_ID=
GITHUB_SECRET=
NEXT_PUBLIC_GITHUB_AUTH_ENABLED=0
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
NEXT_PUBLIC_DISCORD_AUTH_ENABLED=0
UNLIMITED_USER_EMAILS=
